*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: auto;
    background: #f2eee6;
}

.notif {
    display: flex;
    align-items: center;
}

.notif img {
    margin-right: 10px;
}

.search-bar{
    width: 40%;
    height: 40px;
    max-width: 700px;
    background: #cbc3bb33;
    display: flex;
    border-radius: 50px;
    align-items: center;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 11px 15px;
    font-size: 13px;
    color: black;
}

.search-bar a{
    color: rgb(79, 79, 79);
    background-color: #cbc3bb;
    width: 30px;
    height: 30px;
    padding: 6px;
    margin-right: 6px;
    border-radius: 50%;
}

nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.font{
    margin-left: 55%;
    margin-top: 11%;
    width: 30%;
}

.font span{
    font-size: 20px;
}

.font h1{
    font-size: 45px;
    color: black;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.font p{
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: italic;
}

.btn{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    font-size: 13px;
    margin: 70px 0px;
    padding: 5px 5px;
    white-space: nowrap;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn--primary{
    background: rgb(35, 35, 35);
    color:white;
} 

.btn--primary:hover{
    background: rgb(106, 106, 106);
}
